<section class="proposicional">
  <video muted autoplay loop>
    <source src="/1.mp4" type="video/mp4">
  </video>
  <div class="capa"></div>
    <div class="contenido">
      <h1>
        <span> LÓGICA PROPOSICIONAL</span>
      </h1>
      <p class="descripcion">
        La lógica proposicional estudia cómo se combinan y evalúan proposiciones usando conectores como ∧, ∨, ¬, →. Aprende a construir y analizar expresiones lógicas.
      </p>
    </div>
    <div class="imagen">
      <div class="Image"></div>
    </div>
  </section>
  
 <!-- NUEVA SECCIÓN -->
  <div class="rpta">

    <section class="entrada">
      <!-- Tarjeta de entrada -->
      <div class="card">
        <h2>Ingrese texto</h2>
        <textarea placeholder="Si esta es una sociedad matriarcal, entonces el hermano de la madre es la cabeza de familia........."></textarea>
        <button class="btn-enviar">Enviar</button>
      </div>
      
      <!-- Tarjeta de respuesta -->
      <div class="card">
        <h2>Respuesta</h2>
        <textarea placeholder="Aquí aparecerá la respuesta..."></textarea>
      </div>
      
    </section>
    <!-- NUEVA SECCIÓN -->
    <section class="entrada">
      <!-- Tarjeta de entrada -->
      <div class="card left">
        <h2>Ingrese texto</h2>
        <textarea placeholder="Ejemplo: (p ∧ ¬q) → r"></textarea>
        <button class="btn-enviar">Enviar</button>
      </div>
      
      <!-- Tarjeta de respuesta -->
      <div class="card right">
        <h2>Respuesta</h2>
        <textarea placeholder="Aquí aparecerá la respuesta..."></textarea>
      </div>  
    </section>
  </div>
    
  
  