<div class="container">
  <div class="logo">
    <img src="frontend.jpeg" alt="Logo" />
  </div>

  <main class="hero">
    <div class="text">
      <h2>Prof. Juan Tapia</h2>
      <h1>
        <span class="blue">L</span>OGICA <span class="blue">P</span>ROPOSICIONAL
      </h1>
      <p>
        La lógica proposicional estudia enunciados que pueden ser verdaderos o falsos, y nos sirve en programación para tomar decisiones, controlar el flujo y resolver problemas lógicos de forma clara y precisa.
      </p>
      <button (click)="scrollToEntrada()">LET'S GO</button>
    </div>
    <div class="image">
      <img src="cerebro.png" alt="Cerebro animado" />
    </div>
  </main>
</div>
<section id="entrada" class="entrada">
  <!-- Primer bloque: izquierda -->
  <div class="tarjeta-bloque">
    <h2 class="entrada-title"><span class="blue">E</span>valuación <span class="blue">P</span>roposicional</h2>
    <div class="card">
      <h2>Ingrese texto</h2>
      <textarea placeholder="Si esta es una sociedad matriarcal, entonces el hermano de la madre es la cabeza de familia..."></textarea>
      <button class="btn-enviar">Enviar</button>
    </div>
    <div class="card">
      <h2>Respuesta</h2>
      <textarea placeholder="Aquí aparecerá la respuesta..."></textarea>
    </div>
  </div>

  <!-- Segundo bloque: derecha -->
  <div class="tarjeta-bloque">
    <h2 class="entrada-title"><span class="blue">E</span>jemplo <span class="blue">P</span>roposicional</h2>
    <div class="card">
      <h2>Ingrese texto</h2>
      <textarea placeholder="Ejemplo: (p ∧ ¬q) → r"></textarea>
      <button class="btn-enviar">Enviar</button>
    </div>
    <div class="card">
      <h2>Respuesta</h2>
      <textarea placeholder="Aquí aparecerá la respuesta..."></textarea>
    </div>
  </div>
</section>




